.App {
  text-align: center;
  
}

.content{
  background-color: rgba(183, 183, 183, 0.533);;
}


.App-header {
  margin: 0;
    padding: 0;
    opacity: 1;
    background-color: grey;
}

.body {
  text-align: center;
  background-color: grey;
}

